<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/USER/Desktop/Adewale_AKANO_LINUX/UIAUTOMATIONTASK/Page Object Model/KONGA">
        <classes>
            <class name="BasePageTests.BasePageTests">
                <methods>
                    <include name="TestBasePage"/>
                </methods>
            </class>
            <class name="LoginHomePageTests.LoginHomePageTests">
                <methods>
                    <include name="testVerifyLoginPopup"/>
                    <include name="assertpageURL"/>
                    <include name="assertname"/>
                    <include name="pagetitle"/>
                    <include name="assertitems"/>
                    <include name="successfullogout"/>
                </methods>
            </class>
            <class name="LoginPageTests.LoginPageTests">
                <methods>
                    <include name="testLoginPageTitle"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>