<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/Users/USER/Desktop/Adewale_AKANO_LINUX/UIAUTOMATIONTASK/Page Object Model/DEYDAM"><classes><class name="DashboardPagetests.Dashboardtests"><methods><include name="testVerifyCompanyImage"/><include name="testVerifyDashboardTest"/><include name="testLogout"/></methods></class><class name="loginPagetests.LoginPagetests"><methods><include name="testVerifyCompanyLogo"/><include name="testVerifyForgotPassword"/><include name="testVerifyWelcomePanel"/><include name="testVerifyPageTitle"/></methods></class><class name="setUptests.setUptests"><methods><include name="testsetUps"/></methods></class></classes></test></suite>